* {
  font-family: 'Glory', sans-serif;
  background-color: $graphiteblack;
  color: $linen;
  
}

.header__title {
  text-align: center;
}

.main__search{
  text-align: center;
  margin-bottom: 50px;
  .main__search--input {
    width: 313px;
    height: 30px;
    background-color: $linen;
    color: $graphiteblack;
    font-size: 16px;
  }
  .main__search--button {
    height: 34px;
    width: 125px;
    font-family: 'Glory', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: $medturquoise;
    color: $graphiteblack;
  }
}
.main__format{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .main__format--section{
    margin-right: 40px;
  }
  .main__format--title{
    text-align: start;
    margin-left: 40px;
  }
}
.main__showlist{
  border-left: 2px solid $medturquoise;
  .main__showlist--title{
    font-size: 1.5em;
    margin-left: 45px;
    margin-bottom: 17px;
  }
  .main__showlist--text{
    font-size: 18px;
  }
}
.show_container {
  background-color: $mediumgrey;
  list-style-type: none;
  margin-bottom: 10px;
  .image {
    margin: 20px;
    background-color: $linen;
  }
  .showtitle {
    background-color: transparent;
    font-family: 'Glory', sans-serif;
    margin: 0px 20px;
    padding-bottom: 10px;
    color: $linen;
  }
  .text_color{
    color: $graphiteblack;
  }
}
.selected{
  background-color: $medturquoise;
}
.text_color{
  color: $graphiteblack;
}