.main__favorites--section {
  margin-right: 20px;
}
.main__favorites--flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
  }
}
.main__favorites--title {
  font-size: 16px;
  text-align: start;
  margin-left: 10px;
  @media (min-width: 768px) {
    font-size: 1.5em;
  }
}
.main__favorites--resetbtn {
  height: 23px;
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  background-color: $medturquoise;
  color: $graphiteblack;
  @media (min-width: 768px) {
    height: 25px;
    width: 125px;
    font-size: 16px;
  }
}

.main__favorites--showlist {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  @media (min-width: 768px) {
    margin-left: 10px;
  }

  &__image {
    background-color: $linen;
    margin-top: 10px;
    width: 30%;
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  &__showtitle {
    background-color: transparent;
    font-family: 'Glory', sans-serif;
    margin: 0px 10px 0px;
    color: $linen;
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 20px;
      margin: 0px 20px 0px;
    }
  }
  &__delbtn {
    background-color: $graphiteblack;
    height: 25px;
    width: 25px;
    border: none;
    text-align: center;
    font-size: 16px;
    .favorite__delbtn--icon {
      color: $linen;
    }
  }
}
