* {
  font-family: 'Glory', sans-serif;
  background-color: $graphiteblack;
  color: $linen;
}
.main__search {
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
  &--input {
    width: 200px;
    height: 20px;
    background-color: $linen;
    color: $graphiteblack;
    font-size: 16px;
    @media (min-width: 768px) {
      width: 313px;
      height: 30px;
      font-size: 18px;
      margin-bottom: 50px;
    }
  }
  &--button {
    height: 25px;
    width: 75px;
    font-family: 'Glory', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: $medturquoise;
    color: $graphiteblack;
    @media (min-width: 768px) {
      width: 125px;
      height: 34px;
      font-size: 18px;
    }
  }
}
.main__format {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 280px 1fr;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 350px 1fr;
  }
}
