.main__showlist {
  border-top: 1px solid $medturquoise;
  @media (min-width: 768px) {
    border-top: none;
    border-left: 2px solid $medturquoise;
  }
  &--title {
    font-size: 1.5em;
    margin-left: 70px;
    margin-bottom: 17px;
  }
  &--text {
    font-size: 18px;
  }
  &--image{
    width: 90%;
    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 1024px) {
      width: 70%;
    }   
  }
}
.main__showlist--container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.main__showlist--item {
  max-width: max-content;
  background-color: $mediumgrey;
  list-style-type: none;
  margin: 10px;
  @media (min-width: 768px) {
    width: 40%;
  }
  &__image {
    width: 85%;
    margin: 20px;
    background-color: $linen;
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  &__showtitle {
    font-size: 20px;
    width: 8em;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    color: $linen;
  }
  .text_color {
    color: $graphiteblack;
  }
}
.selected {
  background-color: $medturquoise;
}
.text_color {
  color: $graphiteblack;
}
